* text=auto !eol
java/ant-test/test-suite-results.zip -text
java/test/javax/xml/namespace/serialized_QName_no_prefix -text
java/test/testcase/resolver/schemaloc/resources/SchemaLocationTest.jar -text
java/woden-ant/identify-test-case-roots.xsl -text
java/woden-ant/pom.xml -text
java/woden-ant/test-suite-results.zip -text
java/woden-api/src/main/java/javax/xml/namespace/QName.java -text
java/woden-api/src/main/java/org/apache/woden/ErrorHandler.java -text
java/woden-api/src/main/java/org/apache/woden/ErrorInfo.java -text
java/woden-api/src/main/java/org/apache/woden/ErrorLocator.java -text
java/woden-api/src/main/java/org/apache/woden/ErrorReporter.java -text
java/woden-api/src/main/java/org/apache/woden/WSDLException.java -text
java/woden-api/src/main/java/org/apache/woden/WSDLFactory.java -text
java/woden-api/src/main/java/org/apache/woden/WSDLReader.java -text
java/woden-api/src/main/java/org/apache/woden/WSDLSource.java -text
java/woden-api/src/main/java/org/apache/woden/XMLElement.java -text
java/woden-api/src/main/java/org/apache/woden/about-this-package -text
java/woden-api/src/main/java/org/apache/woden/resolver/URIResolver.java -text
java/woden-api/src/main/java/org/apache/woden/schema/ImportedSchema.java -text
java/woden-api/src/main/java/org/apache/woden/schema/InlinedSchema.java -text
java/woden-api/src/main/java/org/apache/woden/schema/Schema.java -text
java/woden-api/src/main/java/org/apache/woden/types/NCName.java -text
java/woden-api/src/main/java/org/apache/woden/types/NamespaceDeclaration.java -text
java/woden-api/src/main/java/org/apache/woden/types/QNameTokenUnion.java -text
java/woden-api/src/main/java/org/apache/woden/types/XMLChar.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/Binding.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/BindingFault.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/BindingFaultReference.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/BindingMessageReference.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/BindingOperation.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/Description.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/ElementDeclaration.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/Endpoint.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/Interface.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/InterfaceFault.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/InterfaceFaultReference.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/InterfaceMessageReference.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/InterfaceOperation.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/NestedComponent.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/Service.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/TypeDefinition.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/WSDLComponent.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/enumeration/Direction.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/enumeration/MessageLabel.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/AttributeExtensible.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/BaseComponentExtensionContext.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ComponentExtensionContext.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ElementExtensible.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ExtensionDeserializer.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ExtensionElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ExtensionProperty.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ExtensionRegistrar.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ExtensionRegistry.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/ExtensionSerializer.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/GenericExtensionProperty.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/InterfaceOperationExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/PropertyExtensible.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/UnknownExtensionDeserializer.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/UnknownExtensionElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/UnknownExtensionSerializer.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/WSDLExtensionConstants.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/about-this-package -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPAuthenticationScheme.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPBindingExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPBindingFaultExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPBindingMessageReferenceExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPBindingOperationExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPConstants.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPEndpointExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPErrorStatusCode.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPHeader.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPHeaderElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPLocation.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/http/HTTPLocationTemplate.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/rpc/Argument.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/rpc/Direction.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/rpc/RPCConstants.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/rpc/RPCInterfaceOperationExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPBindingExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPBindingFaultExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPBindingFaultReferenceExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPBindingMessageReferenceExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPBindingOperationExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPConstants.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPEndpointExtensions.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPFaultCode.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPFaultSubcodes.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPHeaderBlock.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPHeaderBlockElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPModule.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/extensions/soap/SOAPModuleElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/BindingFaultPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/BindingFaultReferencePart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/BindingMessageReferencePart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/BindingOperationPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/BindingPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/ComponentPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/DescriptionPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/ElementDeclarationPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/EndpointPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/ExtensionsPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/FragmentIdentifier.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/InterfaceFaultPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/InterfaceFaultReferencePart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/InterfaceMessageReferencePart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/InterfaceOperationPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/InterfacePart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/ServicePart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/fragids/TypeDefinitionPart.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/validation/Assertion.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/validation/AssertionInfo.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/validation/WodenContext.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/BindingElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/BindingFaultElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/BindingFaultReferenceElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/BindingMessageReferenceElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/BindingOperationElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/DescriptionElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/DocumentableElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/DocumentationElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/EndpointElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/ImportElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/IncludeElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/InterfaceElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/InterfaceFaultElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/InterfaceFaultReferenceElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/InterfaceMessageReferenceElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/InterfaceOperationElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/NestedElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/ServiceElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/TypesElement.java -text
java/woden-api/src/main/java/org/apache/woden/wsdl20/xml/WSDLElement.java -text
java/woden-api/src/main/java/org/apache/woden/xml/ArgumentArrayAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/BooleanAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/HTTPAuthenticationSchemeAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/IntOrTokenAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/QNameAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/QNameListAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/QNameListOrTokenAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/QNameOrTokenAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/StringAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/TokenAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/URIAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/UnknownAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xml/XMLAttr.java -text
java/woden-api/src/main/java/org/apache/woden/xpointer/ElementPointerPart.java -text
java/woden-api/src/main/java/org/apache/woden/xpointer/InvalidXPointerException.java -text
java/woden-api/src/main/java/org/apache/woden/xpointer/PointerPart.java -text
java/woden-api/src/main/java/org/apache/woden/xpointer/XPointer.java -text
java/woden-api/src/main/java/org/apache/woden/xpointer/XPointerParser.java -text
java/woden-api/src/main/java/org/apache/woden/xpointer/XmlnsPointerPart.java -text
java/woden-api/src/main/resources/org/apache/woden/about-this-package -text
java/woden-api/src/main/resources/org/apache/woden/resolver/XMLSchema.dtd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/XMLSchema.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/datatypes.dtd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/wsdl20-extensions.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/wsdl20-http.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/wsdl20-instance.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/wsdl20-rpc.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/wsdl20-soap.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/wsdl20.xsd -text
java/woden-api/src/main/resources/org/apache/woden/resolver/xml.xsd -text
java/woden-api/src/main/resources/org/apache/woden/wsdl20/about-this-package -text
java/woden-api/src/main/resources/org/apache/woden/wsdl20/extensions/about-this-package -text
java/woden-api/src/main/resources/org/apache/woden/wsdl20/fragids/about-this-package -text
java/woden-api/src/main/resources/org/apache/woden/wsdl20/xml/about-this-package -text
java/woden-api/src/main/resources/schema.catalog -text
java/woden-api/src/test/java/javax/xml/namespace/QNameDeserializeTest.java -text
java/woden-api/src/test/java/javax/xml/namespace/QNameTest.java -text
java/woden-api/src/test/java/org/apache/woden/types/NCNameTest.java -text
java/woden-api/src/test/java/org/apache/woden/types/QNameTokenUnionTest.java -text
java/woden-api/src/test/java/org/apache/woden/xpointer/XPointerTest.java -text
java/woden-api/src/test/resources/javax/xml/namespace/serialized_QName_no_prefix -text
java/woden-dom/src/main/java/org/apache/woden/internal/DOMWSDLFactory.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/DOMWSDLReader.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/DOMWSDLSource.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/DOMXMLElement.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/util/dom/DOM2Writer.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/util/dom/DOMQNameUtils.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/util/dom/DOMUtils.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/util/dom/XPathUtils.java -text
java/woden-dom/src/main/java/org/apache/woden/internal/xpointer/DOMXMLElementEvaluator.java -text
java/woden-dom/src/test/java/org/apache/woden/DOMXMLElementTest.java -text
java/woden-dom/src/test/java/org/apache/woden/WSDLReaderTest.java -text
java/woden-dom/src/test/java/org/apache/woden/schema/SchemaTest.java -text
java/woden-eclipse-formatter-conventions.xml svn_keywords=Id
java/woden-om/src/main/java/org/apache/woden/internal/OMWSDLFactory.java -text
java/woden-om/src/main/java/org/apache/woden/internal/OMWSDLReader.java -text
java/woden-om/src/main/java/org/apache/woden/internal/OMXMLElement.java -text
java/woden-om/src/main/java/org/apache/woden/internal/util/om/OMQNameUtils.java -text
java/woden-om/src/main/java/org/apache/woden/internal/util/om/OMUtils.java -text
java/woden-om/src/main/java/org/apache/woden/internal/xpointer/OMXMLElementEvaluator.java -text
java/woden-om/src/test/java/org/apache/woden/OMWSDLReaderTest.java -text
java/woden-om/src/test/java/org/apache/woden/OMXMLElementTest.java -text
java/woden-tool/all-in-one.xsl -text
java/woden-tool/pom.xml svn_keywords=Id
java/woden-tool/src/main/css/org/apache/woden/tool/wsdl-viewer/wsdl-viewer.css -text
java/woden-tool/src/main/javascript/org/apache/woden/tool/wsdl-viewer/wsdl-viewer.js -text
java/woden-tool/src/main/xslt/wsdl-viewer-css.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-global.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-modules.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-operations.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-service.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-src.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-util.xsl -text
java/woden-tool/src/main/xslt/wsdl-viewer-xsd-tree.xsl -text
java/wsdl-viewer-test/prepare-test.xsl -text
java/wsdl-viewer/build/all-in-one.xsl -text
java/wsdl-viewer/src/wsdl-viewer-css.xsl -text
java/wsdl-viewer/src/wsdl-viewer-global.xsl -text
java/wsdl-viewer/src/wsdl-viewer-modules.xsl -text
java/wsdl-viewer/src/wsdl-viewer-operations.xsl -text
java/wsdl-viewer/src/wsdl-viewer-service.xsl -text
java/wsdl-viewer/src/wsdl-viewer-src.xsl -text
java/wsdl-viewer/src/wsdl-viewer-util.xsl -text
java/wsdl-viewer/src/wsdl-viewer-xsd-tree.xsl -text
java/wsdl-viewer/src/wsdl-viewer.css -text
java/wsdl-viewer/src/wsdl-viewer.js -text
java/wsdl-viewer/wsdl-viewer.xsl -text
