/.project
/.settings
etc/wsdl-viewer-test/html
/target
w3c-tests/.project
w3c-tests/.settings
w3c-tests/target
woden-ant/.classpath
woden-ant/.project
woden-ant/.settings
woden-ant/target
woden-converter-maven-plugin/.classpath
woden-converter-maven-plugin/.project
woden-converter-maven-plugin/.settings
woden-converter-maven-plugin/target
woden-core/.classpath
woden-core/.project
woden-core/.settings
woden-core/target
woden-dist/.project
woden-dist/.settings
woden-dist/target
woden-tests/.classpath
woden-tests/.project
woden-tests/.settings
woden-tests/target
woden-tool/.classpath
woden-tool/.project
woden-tool/.settings
woden-tool/target
