* text=auto !eol
java/ant-test/test-suite-results.zip -text
java/test/javax/xml/namespace/serialized_QName_no_prefix -text
java/test/testcase/resolver/schemaloc/resources/SchemaLocationTest.jar -text
java/woden-ant/Interface.wsdl -text
java/woden-ant/W3Ctests.catalog -text
java/woden-ant/XSDImport.wsdl -text
java/woden-ant/XSDImport2.wsdl -text
java/woden-ant/build.xml -text
java/woden-ant/documents-bad-report.xml -text
java/woden-ant/documents-good-report.xml -text
java/woden-ant/identify-test-case-roots.xsl -text
java/woden-ant/name.xsd -text
java/woden-ant/pom.xml -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmBaseWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmExtensionsWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmHttpWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmRpcWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmSoapWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/NamespaceWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/ObjectIdTable.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/Report.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/ValidateWSDL20.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/WsdlCm.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/XMLWriter.java -text
java/woden-ant/src/main/resources/org/apache/woden/ant/about-this-package -text
java/woden-ant/src/test/java/org/apache/woden/ant/ObjectIdTableTest.java -text
java/woden-ant/test-suite-results.zip -text
java/woden-ant/test.wsdl -text
java/woden-ant/validation-results-without-ids.xml -text
java/woden-ant/validation-results.xml -text
java/woden-ant/wsdl20-extensions.xsd -text
java/woden-ant/wsdl20-http.xsd -text
java/woden-ant/wsdl20-instance.xsd -text
java/woden-ant/wsdl20-rpc.xsd -text
java/woden-ant/wsdl20-soap.xsd -text
java/woden-ant/wsdl20.xsd -text
java/woden-eclipse-formatter-conventions.xml svn_keywords=Id
java/wsdl-viewer-test/prepare-test.xsl -text
java/wsdl-viewer/build/all-in-one.xsl -text
java/wsdl-viewer/src/wsdl-viewer-css.xsl -text
java/wsdl-viewer/src/wsdl-viewer-global.xsl -text
java/wsdl-viewer/src/wsdl-viewer-modules.xsl -text
java/wsdl-viewer/src/wsdl-viewer-operations.xsl -text
java/wsdl-viewer/src/wsdl-viewer-service.xsl -text
java/wsdl-viewer/src/wsdl-viewer-src.xsl -text
java/wsdl-viewer/src/wsdl-viewer-util.xsl -text
java/wsdl-viewer/src/wsdl-viewer-xsd-tree.xsl -text
java/wsdl-viewer/src/wsdl-viewer.css -text
java/wsdl-viewer/src/wsdl-viewer.js -text
java/wsdl-viewer/wsdl-viewer.xsl -text
