* text=auto !eol
java/ant-test/test-suite-results.zip -text
java/test/javax/xml/namespace/serialized_QName_no_prefix -text
java/test/testcase/resolver/schemaloc/resources/SchemaLocationTest.jar -text
java/woden-ant/Interface.wsdl -text
java/woden-ant/W3Ctests.catalog -text
java/woden-ant/XSDImport.wsdl -text
java/woden-ant/XSDImport2.wsdl -text
java/woden-ant/build.xml -text
java/woden-ant/documents-bad-report.xml -text
java/woden-ant/documents-good-report.xml -text
java/woden-ant/identify-test-case-roots.xsl -text
java/woden-ant/name.xsd -text
java/woden-ant/pom.xml -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmBaseWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmExtensionsWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmHttpWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmRpcWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmSoapWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/CmWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/NamespaceWriter.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/ObjectIdTable.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/Report.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/ValidateWSDL20.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/WsdlCm.java -text
java/woden-ant/src/main/java/org/apache/woden/ant/XMLWriter.java -text
java/woden-ant/src/main/resources/org/apache/woden/ant/about-this-package -text
java/woden-ant/src/test/java/org/apache/woden/ant/ObjectIdTableTest.java -text
java/woden-ant/test-suite-results.zip -text
java/woden-ant/test.wsdl -text
java/woden-ant/validation-results-without-ids.xml -text
java/woden-ant/validation-results.xml -text
java/woden-ant/wsdl20-extensions.xsd -text
java/woden-ant/wsdl20-http.xsd -text
java/woden-ant/wsdl20-instance.xsd -text
java/woden-ant/wsdl20-rpc.xsd -text
java/woden-ant/wsdl20-soap.xsd -text
java/woden-ant/wsdl20.xsd -text
java/woden-commons/pom.xml -text
java/woden-commons/src/main/java/org/apache/woden/internal/BaseWSDLFactory.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/BaseWSDLReader.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/BaseWSDLSource.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/BaseXMLElement.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/ErrorHandlerImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/ErrorInfoImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/ErrorLocatorImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/ErrorReporterImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/MessageFormatter.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/ReaderFeatures.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/WSDLContext.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/resolver/DOMSchemaResolverAdapter.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/resolver/EntityResolverAdapter.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/resolver/OMSchemaResolverAdapter.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/resolver/SchemaResolverAdapter.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/resolver/SimpleURIResolver.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/schema/ImportedSchemaImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/schema/InlinedSchemaImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/schema/SchemaConstants.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/schema/SchemaImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/util/ObjectRegistry.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/util/PropertyUtils.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/util/StringUtils.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/BindingFaultImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/BindingFaultReferenceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/BindingImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/BindingMessageReferenceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/BindingOperationImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/ComponentModelBuilder.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/Constants.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/DescriptionImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/DocumentableImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/DocumentationImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/ElementDeclarationImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/EndpointImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/ImportImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/IncludeImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/InterfaceFaultImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/InterfaceFaultReferenceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/InterfaceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/InterfaceMessageReferenceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/InterfaceOperationImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/NestedImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/ServiceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/TypeDefinitionImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/TypesImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/WSDLComponentImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/WSDLElementImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/WSDLReferenceImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/assertions/Description1001.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/assertions/Description1002.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/assertions/Description1003.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/assertions/Interface1009.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/assertions/Interface1010.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/AttributeExtensibleImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/ElementExtensibleImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/ExtensionElementImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/InterfaceOperationExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/PopulatedExtensionRegistry.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPBindingExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPBindingFaultExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPBindingMessageReferenceExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPBindingOperationExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPEndpointExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPHeaderDeserializer.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/http/HTTPHeaderImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/rpc/RPCInterfaceOperationExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPBindingExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPBindingFaultExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPBindingFaultReferenceExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPBindingMessageReferenceExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPBindingOperationExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPEndpointExtensionsImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPHeaderBlockDeserializer.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPHeaderBlockImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPModuleDeserializer.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/extensions/soap/SOAPModuleImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/validation/WSDLComponentValidator.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/validation/WSDLDocumentValidator.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/validation/WSDLValidator.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/wsdl20/validation/WodenContextImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/ArgumentArrayAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/BooleanAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/HTTPAuthenticationSchemeAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/IntOrTokenAnyAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/QNameAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/QNameListAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/QNameListOrTokenAnyAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/QNameOrTokenAnyAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/StringAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/TokenAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/URIAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xml/XMLAttrImpl.java -text
java/woden-commons/src/main/java/org/apache/woden/internal/xpointer/XMLElementEvaluator.java -text
java/woden-commons/src/main/resources/org/apache/woden/internal/Messages.properties -text
java/woden-commons/src/test/java/org/apache/woden/internal/ReaderFeaturesTest.java -text
java/woden-commons/src/test/java/org/apache/woden/tests/TestErrorHandler.java -text
java/woden-commons/src/test/resources/org/apache/woden/badDescriptionTags.wsdl -text
java/woden-commons/src/test/resources/org/apache/woden/embeded.xml -text
java/woden-commons/src/test/resources/org/apache/woden/primer-hotelReservationService.wsdl -text
java/woden-eclipse-formatter-conventions.xml svn_keywords=Id
java/wsdl-viewer-test/prepare-test.xsl -text
java/wsdl-viewer/build/all-in-one.xsl -text
java/wsdl-viewer/src/wsdl-viewer-css.xsl -text
java/wsdl-viewer/src/wsdl-viewer-global.xsl -text
java/wsdl-viewer/src/wsdl-viewer-modules.xsl -text
java/wsdl-viewer/src/wsdl-viewer-operations.xsl -text
java/wsdl-viewer/src/wsdl-viewer-service.xsl -text
java/wsdl-viewer/src/wsdl-viewer-src.xsl -text
java/wsdl-viewer/src/wsdl-viewer-util.xsl -text
java/wsdl-viewer/src/wsdl-viewer-xsd-tree.xsl -text
java/wsdl-viewer/src/wsdl-viewer.css -text
java/wsdl-viewer/src/wsdl-viewer.js -text
java/wsdl-viewer/wsdl-viewer.xsl -text
